*{
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
body{
    background-color: #E5E5E5;
}
.nav-bar{
    width: 100%;
    height: 90px;
    background-color: #ffffff;
}
.logo{
    position:absolute;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left:2%;
}
.nav-bar-ul{
    list-style-type: none;
    padding-top: 20px;
    overflow: hidden;
}
.deep-thought .deep-thought-heading {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
.deep-thought{
    float: left;
    margin-top: 10px;
    width: 20%;
}
.deep-image1{
 float:left;
    margin-top:10px;
    margin-left:5%;
  
}
.deep-image2{
   float:left;
    margin-top:10px;
    margin-left:1%;
}
.deep-image3{
   float:left;
    margin-top:10px;
    margin-left: 0.5%;
}
.thought_span{
    color:#0029FF;
}
.search_icon{
    padding-left: 30%;
    margin-top: 8px;
    margin-left: 55%;
}
.search_course{
    color: #8695A0;
    outline: none;
    border-top-style: hidden;
    border-right-style: 1px solid #07102F;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width:150%;
    margin-top: 8px;
 
}
.button_btn{
    margin-left:60%;
    background-color: #3354FF;
    border-radius: 4px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    height: 42px;
    width: 157px;
    color:white;
    font-weight:700;
    border-radius: 4px;
    padding: 12px, 24px, 12px, 24px;

}
.home_icon{
    margin-left: 20%;
}
.tools_icon{
    margin-left:10%;
}
.notification_icon{
    margin-left: 20%;
}

.horizontal_container{
    width: 459px;
    height: 50px;
    background-color:#FAFAFA;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.horizontal-container-a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    width: 100%;
    margin-top: 6px;
    background: #3683F0;
}
.session-heading{
    color: #FFFFFFFC;
    letter-spacing: 0.1rem;
    line-height: 29px;
    font-weight: 700;
    font-size: 1.25rem;
    position: absolute;
    margin-left:0.5%;
    padding-top: 10px;
    text-align: left;
}
.session-list{
    list-style-type: none;
}
.session-list-1{
    float:left;
    margin-left:-3%;
}
.session-list-2{
    float:left;
    
}
.session-pic{
padding-top:10px;

}
.session-para{
    /* font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: left; */
    margin-top:10px;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.1em;
   
 margin-left: -12%;
    color: #3683F0;

    
    
}
.session-span,.session-span-1,.session-span-2{
    color:#3683F0;
    font-weight: 900;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: bold;
   
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: left;
}
.session-time{
    color: #696969;
margin-left:5.3%;
margin-top:5px;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.session-btn{
height: 59px;
width: 270px;
margin-top:20px;
border-radius: 4px;
padding: 16px, 48px, 16px, 48px;
background: #3354FF;
color: #FFFFFF;
font-weight:700;
font-size:1.1rem;
font-style: bold;
border-style: hidden;
margin-left:5.1%;
}


.welcome-heading{
    text-align: left;
    margin-left: 3%;
    padding-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

}
.list{
 list-style-type: none;
}
.list_1{
    float: left;
}
.box-2-image{
    margin-left: -30%;
}
.sara{
    color: #696969;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
    margin-left: -24%;
   
}
.list-2{
    float:left;
    margin-top: -90px;
 }
.sara-intro{
    font-size: 0.9rem;
    width:80%;
    margin-left: 20%;
    margin-top:5px;
    font-weight: 400;
}
.columns{
    margin-top: 140px;
    display:flex;
    margin-left: 25%;
    gap:1px;
}
.column_1
{
    background: #FAFAFA;
    height: 50px;
    width: 100px;
}
.number{
    color: #152766;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 7px;

}
.h5feedbacks{
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.lady_name{
    color: #696969;
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 7%;
    line-height: 1rem;
}
 .ladypic{
     margin-top: 50px;
 }
 .lady_intro{
    font-size: 0.9rem;
    width:120%;
    margin-left: 5%;
    margin-top:5px;
    font-weight: 400;
    color: #696969;
}
.threads{
    font-size: 0.9rem;
    width:120%;
    margin-left: 30%;
    padding-left:2%;
    margin-top:-20px;
    font-weight: 400;
    color: #152766;
}
.threads_builder{
    color:#3683F0;
  
}
.listagain___1{
    float:left;
}
.listagain___1_1{
    float:left;
    width:50%;
}
.listagain___1_1_1{
    float:left;
    margin-left:-14%;
}

.convo{
     padding-top: 25px;
}
.time{
    width:10px;
    color: #3683F0;
    font-weight: 700;
}
.listagain{
    list-style-type: none;
}
.listagainstarts{
    float: left;
    margin-top: 30px;
    margin-left: -7%;
}
.listagainstarts_1{
    margin-left: 25%;
    float: left;
    margin-top: 30px;
}
.listagainstarts_2{
    margin-left: 3%;
    float: left;
    margin-top: 30px;
}
.listagainstarts_3{
    margin-left: 3%;
    float: left;
    margin-top: 30px;
}
.listagain__1{
    list-style-type: none;
    margin-top:80px;
}
.listagain__a{
    list-style-type: none;
    margin-top:20px;
}
.listagain__b{
    list-style-type: none;
    margin-top:20px;
}
.para_text{
    font-size:8px;
    font-weight:400;
    text-align:center;
    color: #152766;
}
.para_text1{
    font-size:8px;
    font-weight:400;
    text-align:center;
    color: #3683F0;
}

.main-container{
  display:flex;
}
.main-container-1{
    height: 275px;
    width: 459px;
    margin-top: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-left:1%;
}

.container-a{
    height: 275px;
    width: 1025px;
    margin-top: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-left: 0.6%;
}
.main-container-2{
    margin-left:1%;
    background: #FFFFFF;
    height: 620px;
    width: 460px;
    left: 3px;
    top: 45.2822265625px;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:10px;
}
.main_container-b{
    display:flex;
}
.container-c{
    height: 620px;
    width: 1025px;
    left: 0px;
    top: 1px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top:5px;
    margin-left: 0.6%;
    margin-bottom:10px;
}
.dots{
  width:3.2px;
  height:2.99px;
 background-color: #3683F0;
border-radius: 2px;
font-size: 10px;
 margin-left: 97%;
margin-top:20px;
}
.dots1{
    width:3.2px;
    height:2.99px;
   background-color: #3683F0;
   border-radius: 2px;
    font-size: 10px;
    margin-left: 97%;
    margin-top:3px;
 }
  .dots2{
    width:3.2px;
    height:2.99px;
   background-color: #3683F0;
  border-radius: 2px;
  font-size: 10px;
  margin-left: 97%;
  margin-top:3px;
 }
 .sessions-sessions-1{
     list-style-type: none;
 }
 .sessions-sessions-2{
     float:left;
  
 }
 .sessions-sessions-3{
    float:left;
    margin-left: 50%;
    margin-top: -50px;
 
}
.sessions-sessions-4{
    float:left;
    margin-left: 50%;
    margin-top: -50px;
}
 .vl {
    border-left: 1.9px solid #EEEEEE;
    height: 85px;
    margin-left: 25%;
    
  }
  .container-d{
      height:85px;
      background-color: red;
  }
.dots4{
    height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
 


}
.dots5{
    height: 3px;
    width: 3px;
    background-color: #bbb;
    border-radius: 50%;
}
.dots6{
    height: 3px;
    width: 3px;
    background-color: #bbb;
    border-radius: 50%;
   
    
}
