*{
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
body{
    background-color: #E5E5E5;
}
.nav-bar{
    width: 100%;
    height: 90px;
    background-color: #ffffff;
}
.logo{
    position:absolute;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left:2%;
}
.nav-bar-ul{
    list-style-type: none;
    padding-top: 20px;
    overflow: hidden;
}
.deep-thought .deep-thought-heading {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
.deep-thought{
    float: left;
    margin-top: 10px;
    width: 20%;
}
.deep-image1{
 float:left;
    margin-top:10px;
    margin-left:5%;
  
}
.deep-image2{
   float:left;
    margin-top:10px;
    margin-left:1%;
}
.deep-image3{
   float:left;
    margin-top:10px;
    margin-left: 0.5%;
}
.thought_span{
    color:#0029FF;
}
.search_icon{
    padding-left: 30%;
    margin-top: 8px;
    margin-left: 55%;
}
.search_course{
    color: #8695A0;
    outline: none;
    border-top-style: hidden;
    border-right-style: 1px solid #07102F;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width:150%;
    margin-top: 8px;
 
}
.button_btn{
    margin-left:60%;
    background-color: #3354FF;
    border-radius: 4px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    height: 42px;
    width: 157px;
    color:white;
    font-weight:700;
    border-radius: 4px;
    padding: 12px, 24px, 12px, 24px;

}
.home_icon{
    margin-left: 20%;
}
.tools_icon{
    margin-left:10%;
}
.notification_icon{
    margin-left: 20%;
}

.horizontal_container{
    width: 459px;
    height: 50px;
    background-color:#FAFAFA;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.welcome-heading{
   
text-align: left;
margin-left: 3%;
padding-top: 10px;
font-style: normal;
font-weight: 500;
font-size: 20px;

}
.list{
 list-style-type: none;
}
.list_1{
    float: left;
    /* margin-top: 2px; */
}
.box-2-image{
    margin-left: -30%;
}


.sara{
    color: #696969;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
    margin-left: -24%;
   
}
.list-2{
    float:left;
margin-top: -90px;
 }
.sara-intro{
    font-size: 0.9rem;
    width:80%;
  margin-left: 20%;
   margin-top:5px;
   font-weight: 400;
}
.columns{
    margin-top: 170px;
    display:flex;
    margin-left: 25%;
    gap:1px;
}
.column_1
{
    background: #FAFAFA;
    height: 90px;
    width: 100px;
}
.number{
    color: #152766;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 20px;

}
.h5feedbacks{
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.lady_name{
    color: #696969;
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 7%;
    line-height: 1rem;
    
 }
 .ladypic{
     margin-top: 50px;
 }
 .lady_intro{
    font-size: 0.9rem;
    width:120%;
  margin-left: 5%;
   margin-top:5px;
   font-weight: 400;
   color: #696969;
}
.threads{
    font-size: 0.9rem;
    width:120%;
  margin-left: 5%;
   margin-top:5px;
   font-weight: 400;
   color: #152766;
}
.threads_builder{
    color:#3683F0;
}
 /* #3683F0 */
.listagain___1{
    float:left;
}
.listagain___1_1{
    float:left;
    width:50%;
}
.listagain___1_1_1{
    float:left;
   margin-left:-14%;

 
}

.convo{
 
padding-top: 35px;

}
.time{
    width:10px;
    padding-top: 20px;
    color: #3683F0;
    font-weight: 700;

   
}
.listagain{
    list-style-type: none;
}
.listagainstarts{
    float: left;
    margin-top: 30px;
    margin-left: -7%;
  
}
.listagainstarts_1{
    margin-left: 25%;
    float: left;
    margin-top: 30px;
}
.listagainstarts_2{
    margin-left: 3%;
    float: left;
    margin-top: 30px;
}
.listagainstarts_3{
    margin-left: 3%;
    float: left;
    margin-top: 30px;
}
.listagain__1{
    list-style-type: none;
    margin-top:80px;
}
.para_text{
    font-size:8px;
    font-weight:400;
    text-align:center;
    color: #152766;


}
.para_text1{
    font-size:8px;
    font-weight:400;
    text-align:center;
    color: #3683F0;
}

.main-container{
  display:flex;
}
.main-container-1{
    height: 360px;
    width: 459px;
   
    margin-top: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-left:1%;
  
  
}

.container-a{
    height: 360px;
    width: 1025px;
    margin-top: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-left: 0.6%;
    
}


.main-container-2{
/* height: 91px;
width: 459px;
left: 4px;
top: 0px; */
margin-left:1%;
background: #FFFFFF;
height: 620px;
width: 460px;
left: 3px;
top: 45.2822265625px;
border-radius: 5px;
margin-top:5px;
margin-bottom:10px;

}
.main_container-b{
    display:flex;
}
.container-c{
    height: 620px;
width: 1025px;
left: 0px;
top: 1px;
border-radius: 5px;
background-color: #ffffff;
margin-top:5px;
margin-left: 0.6%;
margin-bottom:10px;
}



  